* {
  background-color: #282c34;
  color: white;
  font-family: 'Courier New', Courier, monospace, sans-serif;
}
.App
{
  header 
  {
    font-size: 50px;
    text-align: center;
    margin: 20px0 ;
  }
}

